@using System.Threading
@using Space_Fridge_Forum.Enums
@{
    ViewBag.Title = "Home";
}
<div>
    @ReactHelpers.RenderComponent(Components.HomeHero)
    @ReactHelpers.RenderComponent(Components.Home, new {message = "hello world"})
    @for (int i = 0; i < 25; i++)
    {
        // since Random uses the current tick in ms for the seed which results in the same numbers
        Thread.Sleep(2);
        var rnd = new Random();
        var imgString = $"https://placekitten.com/{rnd.Next(300, 2000)}/{rnd.Next(300, 2000)}";
        <div>
            <h1>Kitties!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et justo non ligula molestie sagittis. Donec vel sapien congue, consectetur lectus eu, molestie urna. Proin at mi vitae enim ullamcorper scelerisque condimentum non quam. Duis facilisis quis sem eu dictum. Ut vel neque erat. Pellentesque vitae nisl pellentesque, fringilla metus vitae, molestie arcu. Mauris arcu turpis, tempor ut diam quis, auctor imperdiet neque. Curabitur vestibulum, eros id facilisis accumsan, erat lorem sodales ante, at venenatis lacus urna at elit. Curabitur a laoreet nisl. Maecenas ullamcorper eros sed nunc elementum rhoncus. Cras sollicitudin ex sed rhoncus varius. Proin lacinia pretium viverra.</p>
            <br/>
            @ReactHelpers.RenderComponent(Components.Image, new {imageUrl = imgString})
        </div>
    }

</div>