@using Space_Fridge_Forum.Services
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Space Fridge Forum</h1>
    <p class="lead">Welcome to the home page of the space fridge forum!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can check out our recipes, register and add your own and ofcourse manage your own fridge!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why?</h2>
        <p>You might ask, why this site? Well.. <br/><br/>
        In the far future there are spaceships spread across the entire universe, but every space ship big and small still had a fridge to preserve food. With this site you can answer the question whether or not you, as an astronaut, can figure out which ingredients in your fridge best suit specific recipes.
            </p>
    </div>
    <div class="col-md-4">
        <h2>How?</h2>
        <p>Using C# ASP.NET MVC and Entity Framework 6 and a frontend mix consisting of Razor and React.</p>
    </div>
</div>