@using System.Web.Mvc
@using System.Web.Optimization
@using Microsoft.Ajax.Utilities
@using Newtonsoft.Json
@using Space_Fridge_Forum.DataStructures
@using Space_Fridge_Forum.Enums
@using Space_Fridge_Forum.Services

@helper RenderComponent(Components component, object state = null)
{
    var id = shortid.ShortId.Generate(7);
    ReactComponentRendering.Instance.ReactComponentInstances.Add(new ReactComponentInstance()
    {
        AppId = id,
        Component = component,
        State = state ?? new {}
    });
    <div id="@id"></div>
    PartialUtil.RequireScript(null, "/Scripts/React/dist/bundle.js", 1);
}

@helper RenderState(List<ReactComponentInstance> rc)
{
    var obj = new Dictionary<string, object>();

    foreach (var reactComponentInstance in rc)
    {
        obj[reactComponentInstance.AppId] = new
        {
            Component = reactComponentInstance.Component,
            state = reactComponentInstance.State,
        };
    }
    if (obj.Count > 0)
    {
        var settings = new JsonSerializerSettings()
        {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
        };
        var str = HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(obj, Formatting.None, settings));

        var data = new HtmlStringHack(str);

        <script>
            window.ServerState = JSON.parse(`@data`)
        </script>
    }
}